body {
  background-color: #ffffff;
}

.library-home {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-image {
  height: 70px;
  width: auto;
}

.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.search-bar {
  padding: 10px 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-content {
  padding: 10px 20px;
  max-width: 1000px;
  /* Define uma largura máxima para a área de conteúdo */
  margin: 0 auto;
  /* Centraliza o conteúdo */
}

.book-section {
  margin-bottom: 20px;
  /* Garante que os itens internos fiquem alinhados */
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
  /* Centraliza o texto do título */
}

.book-item {
  min-width: 120px;
  text-align: center;
}

.book-cover {
  display: flex;
  align-items: center;
  /* Centraliza verticalmente */
  justify-content: center;
  /* Centraliza horizontalmente */
  width: 120px;
  /* Defina um tamanho fixo */
  height: 150px;
  background-color: #FFFFFF;
}

.book-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* Faz a imagem se ajustar sem distorcer */
}

.book-title {
  font-weight: bold;
  font-size: 14px;
}

.book-author,
.book-publisher {
  font-size: 12px;
  color: #555;
}

.book-carousel-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  /* Oculta a barra de rolagem */
}

.book-carousel {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
  /* Suave movimento no carrossel */
  will-change: transform;
  /* Otimização do movimento */
}

.carousel-button {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
  border-radius: 30%;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.7);
}